<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand" >Navbar</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
              </li>
             <div *ngIf="!status">
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
            </div>
    </ul>
  </div>
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
            aria-controls="dropdown-basic">
          Cart
          <span class="caret">
            <a href="/cart" class="btn btn-light">
              <span class="badge badge-light">{{cartCount}}</span>
            </a>
          </span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
          <div *ngFor="let pro of navProducts ">
            <app-nav-bar-product [productImage]=pro.picture [productName]=pro.name [ID]=pro.index (removeProduct)="removeProduct($event)"></app-nav-bar-product>
          </div>

    </ul>
  </div>
  <button type="button" class="btn btn-light">
      Wishlist <span class="badge badge-light">{{wishlistCount}}</span>
  </button>


  <div *ngIf="status">
      <button type="button" class="btn btn-light" (click)="logoutUser($event)">
          {{loggedInUser.name}} <span class="badge badge-light">Logout</span>
      </button>
  </div>


</nav>





