  <app-header></app-header>
  <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin">
                    <app-input-field  [inputLabel]="email[0]" [inputType]="email[1]" [inputPlace]="email[2]" #emailInput></app-input-field>
                    <app-input-field  [inputLabel]="password[0]" [inputType]="password[1]" [inputPlace]="password[2]" #passwordInput></app-input-field>
                    <app-form-submit-button (submitted)="loginupSubmit($event)" [title]="'Login'"></app-form-submit-button>
                </form>
              </div>
              <p class="loginhere">
                  Not a member <a href="/signup" class="loginhere-link">Signup here</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </body>
